.container {
  width: 1400px;
  display: block;
  margin: 0 auto;
}

header {
  background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
  padding-top: 50px;
}

.logo {
  font-family: WorkSans-Bold;
  font-size: 45px;
  color: var(--dark01);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

nav li {
  font-family: WorkSans-Medium;
  font-size: 18px;
  color: var(--dark02);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero div {
  font-family: WorkSans-Bold;
  font-size: 64px;
  color: var(--dark01);
}
.hero > div > p {
  font-family: WorkSans-Regular;
  font-size: 16px;
  color: var(--dark03);
}

.hero {
  padding-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-content: center;
  padding-bottom: 45px;
}

.hero button {
  height: 64px;
  width: 180px;
  border-radius: 8px;
  background-color: #ff900e;
  color: white;
  padding: 10px;
  font-family: WorkSans-SemiBold;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.hero button:hover {
  background-color: #ff8800;
}

.hero > img {
  height: 700px;
  width: 1440px;
  padding-top: 45px;
  border-radius: 8px;
}
